@import '~open-color/open-color';
@import './styles/_mixins';

* {
  margin: 0;
  padding: 0;
}

body, html {
  font-size: 15px;
  width: 100vw;
  font-family: 'Rajdhani', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.page-main {
  height: 100%;
  padding-bottom: 30px;

  &-banner {
    height: 100px;
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;

    &-logo {
      width: 400px;
    }

    &-youtube {
      font-size: 1.3rem;

      img {
        width: 70px;
        margin-bottom: -3px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}

.page-list {
  min-height: 400px;
  list-style: none;
  background-color: $oc-gray-1;

  &-banner {
    width: 100%;
    height: 50px;
    text-align: center;

    h3 {
      font-size: 1.5rem;
      margin: 0;
      line-height: 50px;
    }
  }

  h4 {
    display: inline-block;
    border-radius: 3px;
    background-color: $oc-gray-4;
    color: $oc-gray-1;
    padding: 5px;
    margin: 10px;
    position: relative;
    left: 70%;
    cursor: pointer;

    &:hover {
      background-color: $oc-gray-3;
    }
  }
}

// mobile
@include mobile {
  html {
    font-size: 13px;
  }

  ul {
    flex-direction: column;

    li {
      flex-direction: row;
      width: 100%;
      height: 100px;
      margin-bottom: 10px;

      .page-list-video-box {
        height: 100%;
        width: auto;

        img {
          height: 100%;
          width: auto;
        }
      }

      .page-list-video-info {
        height: auto;
      }
    }
  }
}
